#navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 10px;
}
#navbar>div:first-child{
    margin-left: 10px;
   color: white;
}
#navbar>div:nth-child(2){
    display: flex;
    margin-right: 20px;
}
#navbar>div:nth-child(2)>p{
    margin-left: 50px;
    color: white;
    cursor: pointer;
}